{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资产管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- styles -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    <script src="{% static 'js/highcharts-zh_CN.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="index.html">资产管理系统</a></h1>
	              </div>
	           </div>
	           <div class="col-md-5">
	              <div class="row">
	                <div class="col-lg-12">
	                  <div class="input-group form">
	                  </div>
	                </div>
	              </div>
	           </div>
	           <div class="col-md-2">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>
    <div class="page-content">
    	<div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                    <!-- Main menu -->
                        <li class="current"><a href="{% url 'index' %}"><i class="glyphicon glyphicon-home"></i>首页</a></li>
                        <li><a href="{% url 'server' %}"><i class="glyphicon glyphicon-list"></i>在运服务器</a></li>
                        <li><a href="{% url 'bakcserver' %}"><i class="glyphicon glyphicon-list"></i> 退运服务器</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="content-box-large">
                    <div class="panel-body">
                        <div class="row">
                            {% block content %}
                                <div id="container" style="min-width:400px;height:400px"></div>
                                <script>
                                    // Build the chart
                                    Highcharts.chart('container', {
                                            chart: {
                                                    plotBackgroundColor: null,
                                                    plotBorderWidth: null,
                                                    plotShadow: false,
                                                    type: 'pie'
                                            },
                                            title: {
                                                    text: '服务器'
                                            },
                                            tooltip: {
                                                    pointFormat: '{series.name}: <b>{point.y}</b>'
                                            },
                                            plotOptions: {
                                                    pie: {
                                                            allowPointSelect: true,
                                                            cursor: 'pointer',
                                                            dataLabels: {
                                                                    enabled: false
                                                            },
                                                            showInLegend: true
                                                    }
                                            },
                                            series: [{
                                                    name: '数量',
                                                    colorByPoint: true,
                                                    data: [
                                                        {% for server in server_list %}
                                                            {
                                                            name: '{{ server.os_platform }}',
                                                            y: {{ server.platformNum }}
                                                    },
                                                        {% endfor %}
                                                        ]
                                            }]
                                    });
                                </script>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>