{% extends 'index.html' %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/oldie.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content-box-large">
        <div class="panel-body">
            <div>
                <h4>服务器信息</h4>
                <p>
                    <table id="user" class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                            <tr>
                                <td width="10%">IP</td>
                                <td width="40%">{{ server.ipaddr }}</td>
                                <td width="10%">主机名</td>
                                <td width="40%">{% if server.hostname %}
                                    {{ server.hostname }}
                                {% endif %}</td>
                            </tr>
                            <tr>
                                <td>服务器类型</td>
                                <td>{{ server.get_device_type_id_display }}</td>
                                <td>SN号</td>
                                <td>{% if server.sn %}
                                    {{ server.sn }}
                                {% endif %}</td>
                            </tr>
                            <tr>
                                <td>服务器状态</td>
                                <td>{{ server.get_device_status_id_display }}</td>
                                <td>地区</td>
                                <td>{{ server.area.name }}</td>
                            </tr>
                            <tr>
                                <td>主机名</td>
                                <td>Admin</td>
                                <td>机房</td>
                                <td>{% if server.idc %}
                                    {{ server.idc }}
                                {% endif %}</td>
                            </tr>
                            <tr>
                                <td>操作系统</td>
                                <td>{% if server.os_platform %}
                                    {{ server.os_platform }}
                                {% endif %}</td>
                                <td>机柜位置</td>
                                <td>{% if server.cabinet %}
                                    {{ server.cabinet }}
                                {% endif %}</td>
                            </tr>

                            <tr>
                                <td>操作系统版本</td>
                                <td>{% if server.os_version %}
                                    {{ server.os_version }}
                                {% endif %}</td>
                                <td>CPU个数</td>
                                <td>{% if server.cpu_count %}
                                    {{ server.cpu_count }}
                                {% endif %}</td>
                            </tr>
                            <tr>
                                <td>制造商</td>
                                <td>{% if server.manufacturer %}
                                    {{ server.manufacturer }}
                                {% endif %}</td>
                                <td>CPU物理个数</td>
                                <td>{% if server.cpu_physical_count %}
                                    {{ server.cpu_physical_count }}
                                {% endif %}</td>
                            </tr>
                            <tr>
                                <td>型号</td>
                                <td>{% if server.model %}
                                    {{ server.model }}
                                {% endif %}</td>
                                <td>CPU型号</td>
                                <td>{% if server.cpu_model %}
                                    {{ server.cpu_model }}
                                {% endif %}</td>
                            </tr>
                            <tr>
                                <td>内存总量</td>
                                <td>{% if server.mem_total %}
                                    {{ server.mem_total }}G
                                {% endif %}</td>
                                <td>业务系统</td>
                                <td>{% if server.product %}
                                    {{ server.product.name }}
                                {% endif %}</td>
                            </tr>
                            <tr>
                                <td>标签</td>
                                <td></td>
                                <td>同步状态</td>
                                <td>{{ server.get_is_sync_display }}</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>

        </div>
    </div>
    {{ cpus }}
    {% if type == 'run' %}
        <div class="content-box-large">
            <div class="panel-heading">
    {#            <div class="panel-title">Morris.js Stacked</div>#}
                <div class="panel-options">
                    <a href="" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div id="cpucontainer">

                </div>
            </div>
        </div>
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="text-center" style="color:#333333;font-size:18px;fill:#333333;">磁盘使用率</div>
                <div class="panel-options">
                    <a href="javascript:" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                </div>
            </div>
            <div class="panel-body">
                {% for diskdata in diskdatas %}
                    <div id="{{ diskdata.device }}diskcontainer" class="pull-left">
                    </div>
                    <script>
                        var diskchart = Highcharts.chart('{{ diskdata.device }}diskcontainer', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: '{{ diskdata.device }}'
                            },
                            tooltip: {
                                useHTML: true,
                                headerFormat: null,
                                pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                            },
                            credits: {
                                enabled: false
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: false
                                    },
                                    showInLegend: true,
                                    size:200
                                }
                            },
                            series: [

                                    {
                                        name: "{{ diskdata.device }}",
                                        colorByPoint: true,
                                        data: {{ diskdata.detail_list|safe }}
                                    },
                              ]
                        });
                    </script>
                {% endfor %}
            </div>
        </div>
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-options">
                    <a href="javascript:getNet()" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div id="netcontainer">

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'vendors/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/tables.js' %}"></script>
    <script>
        {% if type == 'run' %}
             function getNet()
             {
                $.get('{% url 'getnet' server.pk %}',function (data,status) {

                    $('#divNet').html(data['data']);
                });
             }

            $(function(){
                //getDisk();
                //getNet();// 第一次加载数据
                // 开启定时任务，时间间隔为3000 ms。
                /*setInterval(function(){
                    getDisk();
                    getNet();
                }, 60000);*/
                console.log(getLocalTime(1591055760000))
            });
            function getLocalTime(nS) {
               var date = new Date(nS);
                Y = date.getFullYear() + '-';
                M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                D = date.getDate() + ' ';
                h = date.getHours() + ':';
                m = date.getMinutes() + ':';
                s = date.getSeconds();
                return Y+M+D+h+m+s;
            }
            Highcharts.setOptions({
                global: {
                    // 时区调整，国内是 +8 时区
                    timezoneOffset: -8 * 60
                }
            });
            function activeLastPointToolip(chart) {
                var points = chart.series[0].points;
                chart.tooltip.refresh(points[points.length -1]);
            }
            var chart = Highcharts.chart('cpucontainer', {
                chart: {
                    zoomType: 'x',
                    events: {
						load: function () {

						}
				    }
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                },
                title: {
                    text: '操作系统基础指标',
                },
                subtitle: {
                    text: document.ontouchstart === undefined ?
                    '鼠标拖动可以进行缩放' : '手势操作进行缩放'
                },
                xAxis: {
                    type:'datetime',
                    //categories: {{ cpus.create_time }},
                    labels: {
                        formatter: function () {
                            return getLocalTime(this.value);
                        }
                    }
                },
                yAxis:{
                    title: {
                        text: null
                    },
                    labels: {
                        formatter: function () {
                            return this.value + "%";
                        }
                    }
                },
                tooltip: {
                    shared: true,
                    useHTML: true,
                    dateTimeLabelFormats: {
                        day: '%Y-%m-%d %H:%M:%S',
                        millisecond: '%Y-%m-%d %H:%M:%S',
                        second: '%Y-%m-%d %H:%M:%S',
                        minute: '%Y-%m-%d %H:%M:%S',
                        hour: '%Y-%m-%d %H:%M:%S',
                    },
                    headerFormat: '<small>{point.key}</small><table>',
                    pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                    '<td style="text-align: right"><b>{point.y}%</b></td></tr>',
                    footerFormat: '</table>',
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'CPU使用率',
                    type:'area',
                    data: {{ targets.cpu_percent_avg }}
                },{
                    name: '内存使用率',
                    type:'area',
                    data: {{ targets.mem_percent_avg }}
                },{
                    name: 'Swap使用率',
                    type:'area',
                    data: {{ targets.swap_percent_avg }}
                }]
            });


            var netchart = Highcharts.chart('netcontainer',{
                chart: {
                    type: 'column'
                },
                title: {
                    text: '网卡'
                },
                xAxis: {
                    categories: {{ netdatas.ipaddrs|safe }},
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: null
                    }
                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                },
                series: [
                    {% for data in netdatas.datas %}
                        {
                            name: '{{ data.name }}',
                            data: {{ data.data|safe }}
                        },
                    {% endfor %}]
            });
        {% endif %}
    </script>
{% endblock %}